* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  background-color: #ecc14f;
}

h1 {
  font-family: "Work Sans";
  font-size: 60px;
  color: white;
  margin: 10px;
  padding: 20px;
  background-color: black;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 30px 10;
  padding: 10px;
  color: black;
  font-size: 40px;
  text-decoration: underline;
  text-shadow: 0 0 5px #dd5f37;
}

#grid-floats {
  float: left;
  margin: 0px;
}

#grid-floats .grid-item {
  float: left;
  box-sizing: border-box;
  width: calc(50% - 20px);
  height: 420px;
  padding: 15px;
  margin: 10px;
  list-style: none;
  background: white;
}
#grid-floats .grid-item:first-child {
  width: calc(100% - 20px);
}

img {
  max-width: 100%;
  max-height: 250px;
}

#grid-floats .grid-item:nth-child(2),
#grid-floats .grid-item:nth-child(4),
#grid-floats .grid-item:nth-child(6),
#grid-floats .grid-item:nth-child(9),
#grid-floats .grid-item:nth-child(11),
#grid-floats .grid-item:nth-child(13) {
  background-color: #dd5f37;
  color: white;
}

section{
  clear: both;
  margin: 20px;
}

/*--------flexbox----------------*/

#grid-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  }
#grid-flex .grid-item {
  max-width: calc(50% - 20px);
  height: 420px;
  padding: 10px;
  margin: 10px;
  list-style: none;
  transition: 0.3s all ease;
  background: white;
}

#grid-flex .grid-item:first-child {
  max-width: calc(100% - 20px);
}

#grid-flex .grid-item:nth-child(2),
#grid-flex .grid-item:nth-child(4),
#grid-flex .grid-item:nth-child(6),
#grid-flex .grid-item:nth-child(9),
#grid-flex .grid-item:nth-child(11),
#grid-flex .grid-item:nth-child(13) {
  background-color: #dd5f37;
  color: white;
}

@font-face {
  font-family: "Work Sans";
  src: local("Work Sans"), local("WorkSans-Regular"),
    url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*--------tablets ----------------*/
@media (min-width: 600px) and (max-width: 1024) {
  #grid-floats .grid-item {
    width: calc(100% / 3 - 20px);
  }

  #grid-floats .grid-item:nth-child(-n + 2){
    width: calc(50% - 20px);
  }
  #grid-flex .grid-item {
    width: calc(100% / 3 - 20px);
  }

  #grid-flex .grid-item:nth-child(-n + 2) {
    width: calc(50% - 20px);
  }
}

/*--------------------*/
@media (min-width: 1024px) {
  #grid-floats .grid-item {
    width: calc(25% - 20px);
  }

  #grid-floats .grid-item:nth-child(1) {
    width: calc(50% - 20px);
  }
  #grid-flex .grid-item {
    width: calc(25% - 20px);
  }

  #grid-flex .grid-item:nth-child(1) {
    width: calc(50% - 20px);
  }
  #grid-floats .grid-item:nth-child(2):hover {
    color: #ecc14f;
  }
  #grid-floats .grid-item:nth-child(4):hover {
    color: #ecc14f;
  }
  #grid-floats .grid-item:nth-child(6):hover {
    color: #ecc14f;
  }
  #grid-floats .grid-item:nth-child(9):hover {
    color: #ecc14f;
  }
  #grid-floats .grid-item:nth-child(11):hover {
    color: #ecc14f;
  }
  #grid-floats .grid-item:nth-child(13):hover {
    color: #ecc14f;
  }
  #grid-floats .grid-item:hover {
    color: #da4f25;
  }
  #grid-floats img:hover {
    opacity: 0.6;
  }

  #grid-flex .grid-item:hover {
    height: 420px;
    transform: scale(1.1);
  }
  #grid-flex .grid-item:nth-child(2):hover {
    color: #ecc14f;
  }
  #grid-flex .grid-item:nth-child(4):hover {
    color: #ecc14f;
  }
  #grid-flex .grid-item:nth-child(6):hover {
    color: #ecc14f;
  }
  #grid-flex .grid-item:nth-child(9):hover {
    color: #ecc14f;
  }
  #grid-flex .grid-item:nth-child(11):hover {
    color: #ecc14f;
  }
  #grid-flex .grid-item:nth-child(13):hover {
    color: #ecc14f;
  }
  #grid-flex li:hover {
    color: #da4f25;
  }

  
}
